# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
*.iml

# Android
android/local.properties
android/.gradle
android/captures/
android/gradlew
android/gradlew.bat
android/gradle/
android/key.properties
**/*.jks

# IDE
.idea/
.vscode/settings.json
*.iml
*.ipr
*.iws

# macOS
.DS_Store

# Coverage
coverage/

# Symbols
app.*.symbols

# Obfuscation
app.*.map.json
